body {
	font-size: 16px;
	color:black;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
	font-size: .9em;
	text-shadow: 1px 1px 1px #222;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar {
	border-radius: 0;
}

li{
	font-size: 1.2em;
	text-align: center;
}

.page-header {
	padding-top: 15px
}

.jumbotron {
	margin: 2px 50px 0px;
	height: 1000px;
}